@inherits LayoutComponentBase
@using System.Reflection
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">

    <MudLayout>
        <MudAppBar Elevation="1" hidden="@(Archipelago.SetupComplete == false)">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
            <MudSpacer />
        </MudAppBar>
        <MudDrawer @bind-Open="@SidebarOpen" Elevation="1" hidden="@(Archipelago.SetupComplete == false)">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Afterpelago</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Href="/report/dashboard">Dashboard</MudNavLink>
                <MudNavLink Href="/report/general">Multiworld Stats</MudNavLink>
                <MudNavLink Href="/report/players">Player Stats</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <MudMainContent Style="padding-top: 0 !important;">
            <main>
                @Body
            </main>
        </MudMainContent>
    </MudLayout>

    <footer style="position: fixed; right: 4px; bottom: 4px; font-size: 1em;">
        v @typeof(Program).Assembly.GetName().Version.ToString()
    </footer>
</div>

@code {

    private void ToggleDrawer()
    {
        SidebarOpen = !SidebarOpen;
    }
}